lab3/lab3SuMingjie/src/wsdl/localhost_8080/PictureService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><xs:schema xmlns:tns="http://service.sumingjie.com/" xmlns:ns1="http://service.sumingjie.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.sumingjie.com/">

<xs:import namespace="http://service.sumingjie.com" schemaLocation="http://localhost:8080/PictureService?xsd=2" />

<xs:element name="AuthException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="IllegalIdException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="IllegalQException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="InsertingException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="InvalidCreatingParametersException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="InvalidEntityException" nillable="true" type="tns:pictureServiceFault" />

<xs:element name="createPicture" type="tns:createPicture" />

<xs:element name="createPictureResponse" type="tns:createPictureResponse" />

<xs:element name="deletePicture" type="tns:deletePicture" />

<xs:element name="deletePictureResponse" type="tns:deletePictureResponse" />

<xs:element name="findPictures" type="tns:findPictures" />

<xs:element name="findPicturesResponse" type="tns:findPicturesResponse" />

<xs:element name="getAllPictures" type="tns:getAllPictures" />

<xs:element name="getAllPicturesResponse" type="tns:getAllPicturesResponse" />

<xs:element name="updatePicture" type="tns:updatePicture" />

<xs:element name="updatePictureResponse" type="tns:updatePictureResponse" />

<xs:complexType name="createPicture">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="author" type="xs:string" minOccurs="0" />
<xs:element name="year" type="xs:int" />
<xs:element name="material" type="xs:string" minOccurs="0" />
<xs:element name="height" type="xs:float" />
<xs:element name="width" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPictureResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictureServiceFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePicture">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="q" type="tns:myRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myRequest">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="author" type="xs:string" minOccurs="0" />
<xs:element name="year" type="xs:int" />
<xs:element name="material" type="xs:string" minOccurs="0" />
<xs:element name="height" type="xs:float" />
<xs:element name="width" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePictureResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPictures">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getAllPicturesResponse">
<xs:sequence>
<xs:element name="return" type="tns:picture" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="picture">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0" />
<xs:element name="height" type="xs:float" />
<xs:element name="id" type="xs:int" />
<xs:element name="material" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="width" type="xs:float" />
<xs:element name="year" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePicture">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePictureResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPictures">
<xs:sequence>
<xs:element name="q" type="tns:myRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPicturesResponse">
<xs:sequence>
<xs:element name="return" type="tns:picture" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>