lab3/lab3SuMingjie/src/wsdl/localhost_8080/PictureService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.sumingjie.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sumingjie.com/" name="PictureService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.sumingjie.com/" schemaLocation="http://localhost:8080/PictureService?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://service.sumingjie.com" schemaLocation="http://localhost:8080/PictureService?xsd=2" />
</xsd:schema>
</types>
<message name="createPicture">
<part name="parameters" element="tns:createPicture" />
</message>
<message name="createPictureResponse">
<part name="parameters" element="tns:createPictureResponse" />
</message>
<message name="InsertingException">
<part name="fault" element="tns:InsertingException" />
</message>
<message name="InvalidCreatingParametersException">
<part name="fault" element="tns:InvalidCreatingParametersException" />
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthException" />
</message>
<message name="findPictures">
<part name="parameters" element="tns:findPictures" />
</message>
<message name="findPicturesResponse">
<part name="parameters" element="tns:findPicturesResponse" />
</message>
<message name="IllegalQException">
<part name="fault" element="tns:IllegalQException" />
</message>
<message name="updatePicture">
<part name="parameters" element="tns:updatePicture" />
</message>
<message name="updatePictureResponse">
<part name="parameters" element="tns:updatePictureResponse" />
</message>
<message name="IllegalIdException">
<part name="fault" element="tns:IllegalIdException" />
</message>
<message name="InvalidEntityException">
<part name="fault" element="tns:InvalidEntityException" />
</message>
<message name="deletePicture">
<part name="parameters" element="tns:deletePicture" />
</message>
<message name="deletePictureResponse">
<part name="parameters" element="tns:deletePictureResponse" />
</message>
<message name="getAllPictures">
<part name="parameters" element="tns:getAllPictures" />
</message>
<message name="getAllPicturesResponse">
<part name="parameters" element="tns:getAllPicturesResponse" />
</message>
<portType name="PictureWebService">
<operation name="createPicture">
<input message="tns:createPicture" />
<output message="tns:createPictureResponse" />
<fault message="tns:InsertingException" name="InsertingException" />
<fault message="tns:InvalidCreatingParametersException" name="InvalidCreatingParametersException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="findPictures">
<input message="tns:findPictures" />
<output message="tns:findPicturesResponse" />
<fault message="tns:IllegalQException" name="IllegalQException" />
</operation>
<operation name="updatePicture">
<input message="tns:updatePicture" />
<output message="tns:updatePictureResponse" />
<fault message="tns:IllegalQException" name="IllegalQException" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
<fault message="tns:InvalidEntityException" name="InvalidEntityException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="deletePicture">
<input message="tns:deletePicture" />
<output message="tns:deletePictureResponse" />
<fault message="tns:InvalidEntityException" name="InvalidEntityException" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="getAllPictures">
<input message="tns:getAllPictures" />
<output message="tns:getAllPicturesResponse" />
</operation>
</portType>
<binding name="PictureWebServicePortBinding" type="tns:PictureWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="createPicture">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="InsertingException">
<soap:fault name="InsertingException" use="literal" />
</fault>
<fault name="InvalidCreatingParametersException">
<soap:fault name="InvalidCreatingParametersException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="findPictures">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalQException">
<soap:fault name="IllegalQException" use="literal" />
</fault>
</operation>
<operation name="updatePicture">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalQException">
<soap:fault name="IllegalQException" use="literal" />
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
<fault name="InvalidEntityException">
<soap:fault name="InvalidEntityException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="deletePicture">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="InvalidEntityException">
<soap:fault name="InvalidEntityException" use="literal" />
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="getAllPictures">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PictureService">
<port name="PictureWebServicePort" binding="tns:PictureWebServicePortBinding">
<soap:address location="http://localhost:8080/PictureService" />
</port>
</service>
</definitions>